---
title: Search, simple accordion, revealed checkboxes and document list
layout: dac-september2022/views/_master
columns: 12
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}

{% set prevPage = 'table-1' %}
{% set nextPage = pageInfo.rootPath + "/guide-1.html" %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  "#0",
        "onsubmit": "window.location.reload();"
    }
} %}

{% block main %}


    {% set content1 %}
    {{
        onsCheckboxes({
            "legend": "Content type",
            "legendClasses": "ons-u-vh",
            "classes": 'ons-u-mb-m',
            "checkboxesLabel": "Show only:",
            "borderless": true,
            "name": "content-type",
            "checkboxes": [
                {
                    "id": "data",
                    "label": {
                        "text": "Data (309)"
                    },
                    "value": "data",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Data type",
                        "legendClasses": "ons-u-vh",
                        "name": "data-type",
                        "checkboxes": [
                            {
                                "id": "census-data",
                                "label": {
                                    "text": "Census data (0)"
                                },
                                "value": "census-data"
                            },
                            {
                                "id": "datasets",
                                "label": {
                                    "text": "Datasets (117)"
                                },
                                "value": "datasets"
                            },
                            {
                                "id": "time-series",
                                "label": {
                                    "text": "Time series (12)"
                                },
                                "value": "time-series"
                            },
                            {
                                "id": "user-requested-data",
                                "label": {
                                    "text": "User requested data (180)"
                                },
                                "value": "user-requested-data"
                            }
                        ]
                    }
                },
                {
                    "id": "publications",
                    "label": {
                        "text": "Publications (115)"
                    },
                    "value": "publications",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Publication type",
                        "legendClasses": "ons-u-vh",
                        "name": "publication-type",
                        "checkboxes": [
                            {
                                "id": "articles",
                                "label": {
                                    "text": "Articles (49)"
                                },
                                "value": "articles"
                            },
                            {
                                "id": "bulletins",
                                "label": {
                                    "text": "Bulletins (62)"
                                },
                                "value": "bulletins"
                            },
                            {
                                "id": "methodology",
                                "label": {
                                    "text": "Methodology (4)"
                                },
                                "value": "methodology"
                            }
                        ]
                    }
                },
                {
                    "id": "areas",
                    "label": {
                        "text": "Areas (0)"
                    },
                    "value": "areas"
                },
                {
                    "id": "freedom-of-information-requests",
                    "label": {
                        "text": "Freedom of information requests (26)"
                    },
                    "value": "freedom-of-information-requests"
                },
                {
                    "id": "other",
                    "label": {
                        "text": "Other (35)"
                    },
                    "value": "other"
                }
            ]
        })
    }}
    {% endset %}

    {% set content2 %}
        {{
        onsCheckboxes({
            "legend": "Topic",
            "legendClasses": "ons-u-vh",
            "checkboxesLabel": "Show only:",
            "borderless": true,
            "name": "topic",
            "checkboxes": [
                {
                    "id": "business",
                    "label": {
                        "text": "Business (660)"
                    },
                    "value": "business",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Business subtopics",
                        "legendClasses": "ons-u-vh",
                        "name": "business-subtopics",
                        "checkboxes": [
                            {
                                "id": "construction",
                                "label": {
                                    "text": "Construction (7)"
                                },
                                "value": "construction"
                            },
                            {
                                "id": "manufacturing",
                                "label": {
                                    "text": "Manufacturing (124)"
                                },
                                "value": "manufacturing"
                            },
                            {
                                "id": "retail",
                                "label": {
                                    "text": "Retail (195)"
                                },
                                "value": "retail"
                            },
                            {
                                "id": "tech",
                                "label": {
                                    "text": "Technology (152)"
                                },
                                "value": "tech"
                            },
                            {
                                "id": "tourism",
                                "label": {
                                    "text": "Tourism (182)"
                                },
                                "value": "tourism"
                            }
                        ]
                    }
                },
                {
                    "id": "economy",
                    "label": {
                        "text": "Economy (341)"
                    },
                    "value": "economy",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Economy subtopics",
                        "legendClasses": "ons-u-vh",
                        "name": "economy-subtopics",
                        "checkboxes": [
                            {
                                "id": "output-and-productivity",
                                "label": {
                                    "text": "Output and productivity (13)"
                                },
                                "value": "output-and-productivity"
                            },
                            {
                                "id": "environmental-accounts",
                                "label": {
                                    "text": "Environmental accounts (7)"
                                },
                                "value": "environmental-accounts"
                            },
                            {
                                "id": "tax",
                                "label": {
                                    "text": "Tax (83)"
                                },
                                "value": "tax"
                            },
                            {
                                "id": "tech",
                                "label": {
                                    "text": "Technology (152)"
                                },
                                "value": "tech"
                            },
                            {
                                "id": "gdp",
                                "label": {
                                    "text": "Gross Domestic Product (GDP) (182)"
                                },
                                "value": "gdp"
                            },
                            {
                                "id": "gva",
                                "label": {
                                    "text": "Gross Value Added (GVA) (24)"
                                },
                                "value": "gva"
                            },
                            {
                                "id": "investments-and-pensions",
                                "label": {
                                    "text": "Investments and pensions (35)"
                                },
                                "value": "investments-and-pensions"
                            }
                        ]
                    }
                },
                {
                    "id": "Employment",
                    "label": {
                        "text": "Employment (172)"
                    },
                    "value": "Employment",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Employment subtopics",
                        "legendClasses": "ons-u-vh",
                        "name": "name",
                        "checkboxes": [
                            {
                                "id": "employment",
                                "label": {
                                    "text": "Employment (126)"
                                },
                                "value": "Employment"
                            },
                            {
                                "id": "Unemployment",
                                "label": {
                                    "text": "Unemployment (46)"
                                },
                                "value": "Unemployment"
                            }
                        ]
                    }
                },
                {
                    "id": "people-and-community",
                    "label": {
                        "text": "People, population and community (1570)"
                    },
                    "value": "people-and-community",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Publication type",
                        "legendClasses": "ons-u-vh",
                        "name": "name",
                        "checkboxes": [
                            {
                                "id": "births-deaths-and-marriages",
                                "label": {
                                    "text": "Births, deaths and marriages (410)"
                                },
                                "value": "births-deaths-and-marriages"
                            },
                            {
                                "id": "crime-and-justice",
                                "label": {
                                    "text": "Crime and justice (203)"
                                },
                                "value": "crime-and-justice"
                            },
                            {
                                "id": "education-and-childcare",
                                "label": {
                                    "text": "Education and childcare (367)"
                                },
                                "value": "education-and-childcare"
                            },
                            {
                                "id": "elections",
                                "label": {
                                    "text": "Elections (145)"
                                },
                                "value": "elections"
                            },
                            {
                                "id": "health-and-social-care",
                                "label": {
                                    "text": "Health and social care (445)"
                                },
                                "value": "health-and-social-care"
                            }
                        ]
                    }
                }
            ]
        })
    }}
    {% endset %}

    <h1 class="ons-u-fs-xxl ons-u-mb-l">Search</h1>

    <div class="ons-u-mb-l">
        {{
            onsInput({
                "id": 'search-field',
                "label": {
                    "text": 'Search'
                },
                "value": 'crime',
                "width": '50',
                "accessiblePlaceholder": true,
                "searchButton": {
                    "visuallyHideButtonText": true,
                    "text": 'Search',
                    "iconType": 'search'
                }
            })
        }}
    </div>

    <div class="ons-grid">
        <div class="ons-grid__col ons-col-3@xs">
            <h2 class="ons-u-fs-r--b ons-u-mt-xs ons-u-mb-s">Filter results</h2>
            <button class="ons-adv-filter__reset ons-js-adv-filter__reset ons-btn ons-btn--secondary ons-btn--small" type="reset"><span class="ons-btn__inner">Reset all filters</span></button>

            {{
                onsAccordion({
                    "id": "accordion",
                    "classes": 'ons-u-mt-m ons-u-mb-s',
                    "variants": "simple",
                    "itemsList": [
                        {
                            "title": "Content type",
                            "titleTag": 'h3',
                            "content": content1
                        },
                        {
                            "title": "Topic",
                            "titleTag": 'h3',
                            "content": content2
                        }
                    ]
                })
            }}
        </div>

        <div class="ons-grid__col ons-col-8@xs ons-push-1@xs">
            <div class="ons-adv-filter__results-options ons-u-bb ons-u-pb-s ons-u-mb-s">
                <div class="ons-adv-filter__results-count">
                    <span class="ons-u-mb-l"><em>4</em> results for “<em>crime</em>”</span>
                </div>
                <div class="ons-adv-filter__results-sort">
                    {{
                        onsSelect({
                            "id": "select",
                            "name": "select",
                            "classes": "ons-u-wa--@xxs",
                            "label": {
                                "text": "Sort by",
                                "inline": true
                            },
                            "options": [
                                {
                                    "value": "best-match",
                                    "text": "Best match",
                                    "selected": true
                                },
                                {
                                    "value": "latest",
                                    "text": "Latest"
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            {{ onsDocumentList({
                "documents": [
                    {
                        "featured": true,
                        "showMetadataFirst": true,
                        "url": '#0',
                        "title": 'Crime and justice',
                        "metadata": {
                            "type": {
                                "text": 'Topic'
                            }
                        },
                        "description": '<p>Figures on <em class="ons-highlight">crime</em> levels and trends for England and Wales based primarily on two sets of statistics: the <em class="ons-highlight">Crime</em> Survey for England and Wales (CSEW) and police recorded <em class="ons-highlight">crime</em> data.</p>
                        <p>View all <a href="#0">datasets</a> or <a href="#0">publications</a> related to <a href="#0">Crime and justice</a></p>'
                    },
                    {
                        "url": '#0',
                        "title": 'Disability and crime',
                        "metadata": {
                            "type": {
                                "text": 'Dataset'
                            },
                            "date": {
                                "prefix": 'Released',
                                "showPrefix": true,
                                "iso": '2021-02-18',
                                "short": '18 February 2021'
                            }
                        },
                        "description": '<p>Domestic abuse and sexual assault outcomes for disabled people in England and Wales aged 16 to 59 years, with analysis by age, sex, impairment type, impairment severity, country and region using the <em class="ons-highlight">Crime</em> Survey for England and Wales (CSEW) data.</p>'
                    },
                    {
                        "url": '#0',
                        "title": 'Disability and crime, UK: 2019 (Latest release)',
                        "metadata": {
                            "type": {
                                "text": 'Statistical bulletin'
                            },
                            "date": {
                                "prefix": 'Released',
                                "showPrefix": true,
                                "iso": '2019-12-01',
                                "short": '2 December 2019'
                            }
                        },
                        "description": '<p>An overview of published data on disability and <em class="ons-highlight">crime</em> in the UK and analysis of the experience of domestic abuse and sexual assault for disabled adults aged 16 to 59 years in England and Wales. Analysis by age, sex and impairment type.</p>'
                    },
                    {
                        "url": '#0',
                        "title": 'Hate crime by disability status, Crime Survey for England and Wales (CSEW) combined years 2013 and 2014 to 2015 and 2016',
                        "metadata": {
                            "type": {
                                "text": 'User requested data',
                                "ref": 'Ref 008052'
                            },
                            "date": {
                                "prefix": 'Released',
                                "showPrefix": true,
                                "iso": '2017-04-20',
                                "short": '20 April 2017'
                            }
                        }
                    }
                ]
            }) }}
        </div>
    </div>

    <div class="ons-u-mb-l ons-u-mt-xl ons-u-bt">
        {{
            onsButton({
                "text": 'Continue',
                "classes": 'ons-u-mt-m',
                "url": nextPage
            })
        }}
    </div>
{% endblock %}
