---
group: Accessibility audit (DAC – May 2022)
title: May 2022 – Downloadable resources
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = {
    "header": {
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '#0'
    },
    "title": "Downloadable resources example",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    },
    "breadcrumbs": {
        "itemsList": [
            {
                "text": 'Prototypes',
                "url": '/'
            }
        ]
    }
} %}

{% block main %}
    <h1>Downloadable resources</h1>

    <p>This prototype contains the “Downloadable resources” pattern from the ONS Design System.</p>

    {{
        onsButton({
            "text": "View prototype",
            "classes": "ons-u-mt-s",
            "url": 'https://ons-design-system.netlify.app/patterns/download-resources/examples/download-resources/'
        })
    }}

    <script>
        sessionStorage.clear()
    </script>

    <link rel="stylesheet" href="/prototypes/dac-may2022/styles.css" />
{% endblock %}
