---
group: Examples
title: Date input
layout: dac-may2022/views/_master
---
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set prevPage = "index" %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/input-1.html"
    }
} %}

{% block main %}
    <h1>What is your date of birth?</h1>

    {{
        onsDateInput({
            "id": "date",
            "legendOrLabel": "Date of birth",
            "description": "For example, 31 3 1980",
            "day": {
                "label": {
                    "text": "Day"
                },
                "name": "day",
                "attributes": {
                    "autocomplete": "bday-day"
                }
            },
            "month": {
                "label": {
                    "text": "Month"
                },
                "name": "month",
                "attributes": {
                    "autocomplete": "bday-month"
                }
            },
            "year": {
                "label": {
                    "text": "Year"
                },
                "name": "year",
                "attributes": {
                    "autocomplete": "bday-year"
                }
            }
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-l"
        })
    }}


    <script>
        sessionStorage.clear()
    </script>
{% endblock %}
