---
title: Highlighting and Fieldset with suffixed inputs
layout: dac-may2022/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/duration/_macro.njk" import onsDuration %}

{% set prevPage = 'mutually-exclusive-1' %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/radios-2.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
        "title": "How long have you lived at <em class=\"js-piped-answer\" data-question-to-pipe=\"" + pageInfo.rootPath + "/address-1.html\">{x}</em>?",
        "description": 'Enter “0” into the years field if you have lived at this address for less than a year',
        "submitButton": {
            "text": 'Continue'
        }
    }) %}
        {{ onsDuration({
            "id": "address-duration",
            "dontWrap": true,
            "field1": {
                "id": "address-duration-years",
                "name": "address-duration-years",
                "suffix": "Years"
            },
            "field2": {
                "id": "address-duration-months",
                "name": "address-duration-months",
                "suffix": "Months"
            }
        }) }}
    {% endcall %}
{% endblock %}
