---
title: In-page table of contents, print button, share page
layout: dac-may2022/views/_master
columns: 12
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/share-page/_macro.njk" import onsSharePage %}

{% set prevPage = 'checkboxes-3' %}
{% set nextPage = pageInfo.rootPath + "/guide-2.html" %}

{% block pageContent %}
    <div class="ons-page__container ons-container">
        {{
            onsBreadcrumbs({
                "ariaLabel": 'Breadcrumbs',
                "itemsList": [
                    {
                        "linkClasses": 'js-previous' if prevPage else '',
                        "url": pageInfo.rootPath + "/" + prevPage + '.html',
                        "text": 'Back'
                    }
                ]
            })
        }}
        <main id="main-content" class="ons-page__main ons-u-mt-l@m ons-u-mb-xl@m">
            <div class="ons-grid">
                <div class="ons-grid__col ons-col-10@m">
                    <h1 class="ons-u-fs-xxl">Uncertainty and how we measure it for our surveys</h1>
                    <p class="ons-u-fs-m ons-u-fw-n ons-u-mb-m">Explaining measures of uncertainty such as standard error, confidence interval, coefficient of variation and statistical significance and how they affect estimates from our surveys.</p>
                </div>
            </div>
            <div class="ons-grid ons-js-toc-container">
                <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
                    {{-
                        onsTableOfContents({
                            "title": 'Page contents',
                            "ariaLabel": 'Sections in this page',
                            "itemsList": [
                                {
                                    "url": '#section1',
                                    "text": 'What is uncertainty?'
                                },
                                {
                                    "url": '#section2',
                                    "text": 'Sampling the population'
                                },
                                {
                                    "url": '#section3',
                                    "text": 'Standard error'
                                },
                                {
                                    "url": '#section4',
                                    "text": 'Coefficient of variation'
                                },
                                {
                                    "url": '#section5',
                                    "text": 'Confidence interval'
                                },
                                {
                                    "url": '#section6',
                                    "text": 'Statistical significance'
                                }
                            ]
                        })
                    }}

                    {{
                        onsButton({
                            "type": 'button',
                            "classes": 'ons-u-mb-l',
                            "text": 'Print this page',
                            "buttonStyle": 'print',
                            "variants": ['small', 'secondary']
                        })
                    }}

                    {{
                        onsSharePage({
                            "title": 'Share this page',
                            "pageTitle": 'A page to share',
                            "pageURL": 'https://example.com/a-page-to-share',
                            "facebook": true,
                            "twitter": true
                        })
                    }}
                </div>
                <div class="ons-page__body ons-grid__col ons-col-7@m ons-push-1@m">
                    <section id="section1">
                        <h2>What is uncertainty?</h2>

                        <p>Many of our statistics rely on data collected from surveys. We are often interested in the characteristics of the population of people or businesses as a whole, but usually survey a sample of the population rather than everyone. This is timelier and more cost-effective and, if the sample is large enough and well designed, can lead to accurate statistics.</p>

                        <p>Using a sample means that our statistics are usually accompanied by measures of uncertainty. Uncertainty relates to how the estimate might differ from the “true value” and these measures help users of ONS statistics to understand the degree of confidence in the outputs. These measures of uncertainty include:</p>

                        {{
                            onsList({
                                "itemsList": [
                                    {
                                        "text": 'standard error'
                                    },
                                    {
                                        "text": 'confidence interval'
                                    },
                                    {
                                        "text": 'coefficient of variation'
                                    },
                                    {
                                        "text": 'statistical significance'
                                    }
                                ]
                            })
                        }}

                        <p>Understanding sampling and the effect it has on statistics is also important for interpreting these measures of uncertainty.</p>
                    </section>
                    <section id="section2">
                        <h2>Sampling the population</h2>

                        <p>Sampling involves selecting a subset of a population from which characteristics of the entire population can be estimated. Surveying a sample rather than an entire population is more-cost effective and allows data and findings to be published sooner.</p>

                        <p>Information is not gathered from the whole population, so results from sample surveys are estimates of the unknown population values. One sample is selected at random but other potential samples could have been selected, which may have produced different results.</p>

                        <p>The difference between a statistic derived from a sample and the population value is caused by what are known as sampling error and non-sampling errors.</p>

                        <h3>Sampling error</h3>

                        <p>Sampling error is caused by the use of a sample of the population, rather than the entire population. Estimates derived from a sample are likely to differ from the unknown population value because only a subset of the population have provided information. Designing a sample using a scientific approach can help to minimise sampling error and create estimates that are precise and unbiased.</p>

                        <p>The <a href="#0">standard error</a>, <a href="#0">coefficient of variation</a> and <a href="#0">confidence interval</a> can be used to help interpret the possible sampling error, which of course, is unknown. Standard errors are important for interpreting changes in the population estimates over time. A test of <a href="#0">statistical significance</a> could be used to decide whether the difference between estimates from different samples is caused by a real change in the population, or whether it is because of the effects of random sampling alone.</p>

                        <h3>Non-sampling errors</h3>

                        <p>Other sources of error are called non-sampling errors. These include:</p>

                        {{
                            onsList({
                                "itemsList": [
                                    {
                                        "text": 'businesses or individuals being unreachable'
                                    },
                                    {
                                        "text": 'businesses or individuals refusing to respond'
                                    },
                                    {
                                        "text": 'respondents giving inaccurate answers'
                                    },
                                    {
                                        "text": 'processing or analysis errors'
                                    }
                                ]
                            })
                        }}

                        <p>These errors would be present in the statistics even if the entire population had been surveyed. For example, inaccurate answers to a question about money spent on fuel would lead to a difference between the estimate and the population value even if the entire population were surveyed. These errors are usually very difficult to quantify and to do so would require additional and specific research.</p>

                    </section>
                    <section id="section3">
                        <h2>Standard error</h2>

                        <p>The standard error is the simplest measure of how precise a survey-based estimate is.</p>

                        <p>The standard error can be used as a guide to help interpret the possible sampling error. It shows how close the estimate based on sample data might be to the value that would have been taken from the whole population. It is measured using the same units as the estimate itself and, in general, the closer the standard error is to zero, the more precise the estimate. Smaller values show a greater level of precision.</p>

                        <p>Standard errors are also based on sample data so are an unknown statistic, and are usually estimated themselves.</p>
                    </section>
                    <section id="section4">
                        <h2>Coefficient of variation</h2>

                        <p>The coefficient of variation makes it easier to understand whether a standard error is large compared with the estimate itself.</p>

                        <p>The coefficient of variation (CV) is used to compare the relative precision across surveys (or variables) and is usually shown as a percentage. It is a unitless quantity, and so allows us to compare estimates with different scales of measurement. It is also known as the relative standard error and is calculated by dividing the standard error of an estimate by the estimate itself.</p>

                        <p>Similar to the standard error, the closer the coefficient of variation is to zero, the more precise the estimate is. Where it is above 50%, the estimate is very unprecise and the confidence intervals around the estimate will effectively contain zero.</p>

                        <h3>Example:</h3>

                        <p>The non-financial business economy estimates are taken from the Annual Business Survey. The standard error for estimates of various industry sectors is used to assess how precise total turnover estimates are. The estimates for education, and water and waste management differ in size, as do their standard errors. However, the relative standard errors show they have similar levels of relative precision (Table 1).</p>

                        {{
                            onsTable({
                                "caption": "Table 1: Total turnover estimates, standard error and relative standard error for education and water and waste management, UK, 2016",
                                "ths": [
                                    {
                                        "value": "Industry",
                                        "thClasses": "ons-u-va-b"
                                    },
                                    {
                                        "value": "Total turnover in £ millions¹",
                                        "numeric": true
                                    },
                                    {
                                        "value": "Standard error in £ millions²",
                                        "numeric": true
                                    },
                                    {
                                        "value": "Relative standard error (or coefficient of variation)²",
                                        "numeric": true
                                    }
                                ],
                                "trs": [
                                    {
                                        "tds": [
                                            {
                                                "value": "Education (private provision only)"
                                            },
                                            {
                                                "value": "42,649",
                                                "numeric": true
                                            },
                                            {
                                                "value": "526.8",
                                                "numeric": true
                                            },
                                            {
                                                "value": "0.01 (or 1%)",
                                                "numeric": true
                                            }
                                        ]
                                    },
                                    {
                                        "tds": [
                                            {
                                                "value": "Water supply; sewerage, waste management and remediation activities"
                                            },
                                            {
                                                "value": "34,677",
                                                "numeric": true
                                            },
                                            {
                                                "value": "222.7",
                                                "numeric": true
                                            },
                                            {
                                                "value": "0.01 (or 1%)",
                                                "numeric": true
                                            }
                                        ]
                                    }
                                ]
                            })
                        }}
                        <p>Source: Office for National Statistics – Annual Business Survey</p>
                    </section>
                    <section id="section5">
                        <h2>Confidence interval</h2>

                        <p>Confidence intervals use the standard error to derive a range in which we think the true value is likely to lie.</p>

                        <p>A confidence interval gives an indication of the degree of uncertainty of an estimate and helps to decide how precise a sample estimate is. It specifies a range of values likely to contain the unknown population value. These values are defined by lower and upper limits.</p>

                        <p>The width of the interval depends on the precision of the estimate and the confidence level used. A greater standard error will result in a wider interval; the wider the interval, the less precise the estimate is.</p>

                        <h3>Using a 95% confidence interval</h3>

                        <p>A 95% confidence level is frequently used. This means that if we drew 20 random samples and calculated a 95% confidence interval for each sample using the data in that sample, we would expect that, on average, 19 out of the 20 (95%) resulting confidence intervals would contain the true population value and 1 in 20 (5%) would not. If we increased the confidence level to 99%, wider intervals would be obtained.</p>
                    </section>
                    <section id="section6">
                        <h2>Statistical significance</h2>

                        <p>We can use statistical significance to decide whether we think a difference between two survey-based estimates reflects a true change in the population rather than being attributable to random variation in our sample selection.</p>

                        <p>Statistical significance helps us to establish what observed changes or relationships we should pay attention to, and which apparent changes may have occurred only as a result of randomness in the sampling.</p>

                        <p>A result is said to be statistically significant if it is likely not caused by chance or the variable nature of the samples. A defined threshold can help us test for change. If the test of statistical significance calculated from the estimates at different points in time is larger than the threshold, the change is said to be “statistically significant”.</p>

                        <p>A 5% standard is often used when testing for statistical significance. The observed change is statistically significant at the 5% level if there is less than a 1 in 20 chance of the observed change being calculated by chance if there is actually no underlying change.</p>

                        <p>Within the commentary of our statistical bulletins we will avoid using the term “significant” to describe trends in our statistics and will always use “statistically significant” to avoid any confusion for our users.</p>
                    </section>
                </div>
            </div>
        </main>
    </div>

    <div class="ons-container ons-u-mb-l ons-u-mt-l ons-u-bt">
    {{
        onsButton({
            "text": 'Continue',
            "classes": 'ons-u-mt-m',
            "url": nextPage
        })
    }}
    </div>
{% endblock %}
