---
title: Revealed radios and collapsible
layout: dac-may2022/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% set prevPage = 'duration-1' %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/text-area-1.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
        "title": 'Do you stay at another address for more than 30 days a year?',
        "description": 'This should be a single address and could be more than 30 days in a row or divided across the year',
        "definition": {
            "title": 'What we mean by “another address”',
            "content": '<p>This is a single address that is different to the one at the start of this questionnaire. This might be another parent or guardian’s address, a term-time address, a partner’s address or a holiday home.</p>'
        },
        "submitButton": {
            "text": 'Continue'
        }
    }) %}
        {{
            onsRadios({
                "legend": 'Do you stay at another address for more than 30 days a year?',
                "legendClasses": 'ons-u-vh',
                "name": "live",
                "radios": [
                    {
                        "id": "no",
                        "label": {
                            "text": "No"
                        },
                        "value": "no"
                    },
                    {
                        "id": "yes",
                        "label": {
                            "text": "Yes"
                        },
                        "value": "yes",
                        "other": {
                            "otherType": "radios",
                            "id": "address-location",
                            "name": "address-location",
                            "legend":  "Select location of this address",
                            "legendClasses": 'ons-u-vh',
                            "radios": [
                                {
                                    "value": "in-uk",
                                    "id": "in-uk",
                                    "label": {
                                        "text": "An address within the UK"
                                    }
                                },
                                {
                                    "value": "outside-uk",
                                    "id": "outside-uk",
                                    "label": {
                                        "text": "An address outside the UK"
                                    }
                                }
                            ]
                        }
                    }
                ]
            })
        }}
    {% endcall %}
{% endblock %}
