/***********************************************************************
Update the version in the path below to the version being used
***********************************************************************/
@import '../../../node_modules/@ons/design-system/scss/vars/_index.scss';
@import '../../../node_modules/@ons/design-system/scss/helpers/_index.scss';
@import '../../../node_modules/@ons/design-system/scss/utilities/_index.scss';

/***********************************************************************
Do not remove. Required for dynamic generation of survey summary page
***********************************************************************/
.ons-summary__item:not(:last-child) {
  border-bottom: 1px solid $color-borders !important;
}

.js-summary {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/***********************************************************************/
/***********************************************************************/

// Tabs - overrides to fix https://github.com/onsdigital/design-system/issues/1677
.ons-tab--row[aria-selected=true]::after {
  bottom: -2px;
  height: 2px;
}

.ons-tab--row[aria-selected=true]:focus::after {
  background-color: $color-focus;
}

.ons-tabs__title {
  @extend .ons-u-fs-r--b;
}

// Table of contents - overrides for sticky ToC
.ons-page {
  overflow-x: visible;
}

// Headings - overrides for heading top margins
.ons-page__body section:not(:first-child) {
  margin-top: 2.5rem;
}

.ons-page__body {
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }
}

// Tables - Util class for align bottom
.ons-u-va-b {
  vertical-align: bottom;
}

// Search
.ons-search {
  margin-top: 0;

  &__input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 512px;
  }
  &__btn {
    margin-left: 0;
  }

  .ons-btn__inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    margin-top: 3px;
    padding: .6em .8em;

    .ons-svg-icon {
      margin-right: 0 !important;
    }
  }
}

// Downloadable Resources
.ons-adv-filter__results-options {
  margin-top: 2px;
  padding-bottom: 20px;
}

code {
  background: $color-grey-5;
  color: $color-ruby-red;
  padding: 0.05rem 0.25rem;
}
