---
title: Text area with character counter
layout: dac-may2022/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% set prevPage = 'input-1' %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/table-1.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
        "title": "What do you think about this service?",
        "submitButton": {
            "text": 'Send feedback'
        }
    }) %}
        {{
            onsTextarea({
                "id": "feedback-textarea",
                "name": "feedback-text",
                "width": "30",
                "label": {
                    "text": "Enter your feedback",
                    "description": "Do not include confidential information, such as your contact details"
                },
                "charCheckLimit": {
                    "limit": 1000,
                    "charCountSingular": "You have {x} character remaining",
                    "charCountPlural": "You have {x} characters remaining"
                }
            })
        }}
    {% endcall %}
{% endblock %}
